version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.11
    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Run ci checks
          command: yarn ci-check

      - setup_remote_docker

      - run:
          name: Run end-to-end tests
          command: |
            docker-compose -f e2e/docker-compose.yml build
            pwd
            ls -al
            docker-compose -f e2e/docker-compose.yml run toolkit ./e2e/test.sh
            docker-compose -f e2e/docker-compose.yml down -v
